* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

h2 {
    font-size: 30px;
    color: #fd05f1;
}

.header {
    grid-row: 1 / 2;
    height: 3rem;
    margin-bottom: 0;
    padding: 3rem;
    }

/* .container {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
} */

.grid-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
}

.grid-item {
    background: lightgray;
    grid-column: 1 / 5;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
} 

h2 {
    color: #fd05f1;
    font-size: 30px;
    letter-spacing: .2rem;
    margin: 0 auto;
}

.container-1 {   
    grid-row: 2 / 3;
    grid-column: 1 / 5;
   column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    row-gap: 0;
}

.flex-item-1 {
    grid-column: 1 / 2;
    background-image: url(/images/BusinessCard.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.flex-item-2 {
    grid-column: 2 / 5;
    background-image: url(/images/Poppy.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.container-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}  

.flex-item-3 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background-image: url(/images/DogOnMat.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.flex-item-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 1rem;
    padding-top: 0;
}

/* .flex-item-4 h2 {
    margin: 0 auto;
} */

.flex-item-4 p {
    align-items: start;
    text-align: left;
    padding-left: 2rem;
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    white-space: normal
}

.grid-item .item-main {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    /* height: 20rem; */
}
/* .item-main {
    display: grid;
    text-align: center;
    gap: 10px;
} */


.item-main-1 {
    grid-row: 6 / 7;
    margin-top: 0;
    padding-top: 1.5rem;
    margin-bottom: 0;
}

.item-main-2 {
    
    margin-top: 0;
    padding-top: 1.5rem;
    height: 5rem;
    margin-bottom: 2rem;
    /* border: 2px solid #39393c; */
}

.item-main-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: stretch;
}

.item {
    height: 25rem;
}


.item-1 {
    height: 25rem;
    background-image: url(/images/BabyTeyha.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item-2 {
    background-image: url(/images/GingerHazel.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.item-3 {
    background-image: url(/images/dogTie.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-4 {
    background-image: url(/images/Kuzie.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-5 {
    height: 25rem;
    background-image: url(/images/Millie1.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-6 {
    background-image: url(/images/Billy.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-7 {
    background-image: url(/images/Schnauzer.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-8 {
    background-image: url(/images/DogTiedToGate.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-9 {
    height: 25rem;
    background-image: url(/images/Cavvy.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-10 {
    background-image: url(/images/Millie2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-11 {
    background-image: url(/images/Paddy\ 2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-12 {
    background-image: url(/images/Poodle.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-13 {
    /* height: 15rem; */
    background-image: url(/images/Poodle2.webp);
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover; 
}
.item-14 {
    background-image: url(/images/Paddy\ 3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-15 {
    background-image: url(/images/Small\ terrier\ copy.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
.item-16 {
  display: none;
}









@media (max-width: 900px) {
    .container-1,
    .container-2 {
        height: 25rem;
    }
    .item-main-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    .item {
        height: 18rem;
    }
    .item-16 {
        display: none;
    }
    /* .item-10 {
        height: 15rem;
    } */
        
    }


@media (max-width: 768px) {
    .container-1,
    .container-2 {
        display: flex;
        flex-direction: column;
        height: 27rem;
    }
    .item-main-3 {
        grid-template-columns: 1fr 1fr;
    }
    .flex-item-2,
    .flex-item-3 {
        display: none;
    }
    .item {
        background-position-y: top;
        height: 20rem;
    }
    .item-3,
    .item-5,
    .item-7,
    .item-9,
    .item-11 {
        height: 20rem;
    }
    .item-15 {
        display: none;
    }
}

@media (max-width: 400px) {
    .item-main-3 {
        grid-template-columns: 1fr;
    }

    .item-main-3 {
        color: white;
        font-size: 20px;
    }
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-10,
.item-12,
.item-13,
.item-14 {
    height: 20rem;
}
.item-6,
.item-8,
.item-9,
.item-11,
.item-12 {
    display: none;
}
.item-3,
.item-4 {
    background-position-y: top;
}

}












