* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


.header {
    grid-row: 1 / 2;
    height: 3rem;
    margin-bottom: 0;
    padding: 3rem;
    }

.container {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.grid-container {
    max-width: 1120px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
}

.grid-item{
    background: lightgray;
    grid-column: 1 / 5;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
} 

.container-1 {   
    grid-row: 2 / 3;
    grid-column: 1 / 5;
   column-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 30rem;
    row-gap: 0;
}

.flex-item-1 {
    grid-column: 1 / 2;
    background-image: url(/images/BusinessCard.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

.flex-item-2 {
    grid-column: 2 / 5;
    background-image: url(/images/Poppy.webp);
     background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.container-2 {
    grid-row: 3 / 4;
    grid-column: 1 / 5;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}  

.flex-item-3 {
    grid-column: 1 / 2;
    background-image: url(/images/DogOnMat.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.flex-item-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 1rem;
    padding-top: 0;
}

.flex-item-4 h2 {
    margin: 0 auto;
}

.flex-item-4 p {
    align-items: start;
    text-align: left;
    padding-left: 2rem;
    font-size: 20px;
    line-height: 1.5rem;
    letter-spacing: .1rem;
    white-space: normal
}

.item-main {
    padding: 3rem;
}

@media (max-width: 900px) {
    .container-1,
    .container-2 {
        height: 25rem;
    }
}

@media (max-width: 768px) {
    .container-1,
    .container-2 {
        display: flex;
        flex-direction: column;
        height: 27rem;
    }
    .flex-item-2,
    .flex-item-3 {
        display: none;
    }
}












